## Importing Pandas

When importanting pandas the conevention is to call it "pd".

In [1]:
import pandas as pd

  
## Pandas Objects  

Text about objects.  
Text about objects.  
Text about objects.

#### DataFrames  
  
>DataFrames can be thought of as tables with indvidual **entries** that have specific **values**. Each entry has a **row/record** and a **column**. 
> 
>To create a dataframe call the `DataFrame` method from pandas. The arguments should consist of a dictionary. They keys are the column names, and the lists for each key assign values to that column. 
>
> `pd.DataFrame({'Column1': [value1, value2], 'Column2': [value3, value4]})`

  
#### Series  
  
> A series is a list of values. Each column in a DataFrame can be thought of as a series. 
>
> To create a series call the `Series` method from pandas. The arguments should include a list of values.
>
> `pd.Series([value1, value2, value3, value4])`


#### Index

> Both DataFrames and Series have an **index**. DataFrames have indices for rows and columns. Indices behave as an immutable array meaning certain operations cannot be done meaning they can be shared between DataFrames without risking changes to the index. Indices also behave as ordered sets meaning the usual set operators (&, |, ^) can be used. 
>
> To create an index call the `Index` method from pandas. 
>
> `ind = pd.Index([2,3,3,7,9])`

#### Example 1

Create a dataframe with the release order, title, and release year of Lana Del Rey's albums based on the below dates and order.

    1. From the End (2005)
    2. Sirens (2006)
    3. Lana Del Ray (2010)
    4. Born to Die (2012)
    5. Paradise (2012)
    6. Ultraviolence (2014)
    7. Honeymoon (2015)
    8. Lust for Life (2017)
    9. Norman Fucking Rockwell! (2019)
    10. Violet Bent Backwards Over the Grass (2020)
    11. Chemtrails Over the Country Club (2021)
    12. Blue Banisters (2021)

## Reading and Writing Data Files

#### Reading CSV Files

> The read_csv method can be used to read a csv file and save it as a DataFrame.
>
>    `df = pd.read_csv('path')`
>  
> Below is a table of other common arguments used when reading csv files as DataFrames.
>
>    | Argument    | Default    | Description                       |
>    | ----------- | ---------- | --------------------------------- |
>    | sep         | ,          | Separator for csv                 |
>    | header      | None       | Accepts int, list, or row numbers |
>    | usecols     | None       | Retrieve specific columns         |
>    | index_col   | None       | Specify columns to use as index   |
>    | skiprows    | None       | Specify rows to skip in DataFrame |
>
>
#### Writing CSV Files
>  
> The to_csv method can be used to write a dataframe to a csv file.
>  
>    `df.to_csv('path')`
>  
> Below is a table of other common arguments used when writing DataFrames to csv files.
>
>    | Argument     | Default    | Description                       |
>    | ------------ | ---------- | --------------------------------- |
>    | sep          | ,          | Separator for csv                 |
>    | float_format | None       | Format string for float dtype     |
>    | Columns      | None       | Columsn to write to csv           |
>    | date_format  | None       | Format string for date columns    |
>
>

In [2]:
# Create dataframe with column names 'Order', 'Album', and 'Year'
# ldr_albums =

#### Example 2

Read Lana Del Rey's album track lists in from a csv file and save as a DataFrame.

In [3]:
# Path to csv file
track_csv_path = 'C:/Users/viole/OneDrive/Documents/Music-Info/LDR/ldr_tracks.csv'

# Create DataFrame from csv file

## Exploring DataFrames

The **head** function allows you to see the first few rows.

`df.head()`

The **describe** function gives the following information for each column in the DataFrame.

`df.describe()`

| Row     | Description                             |
| ------- | --------------------------------------- |
| Count   | Number of non-empty values              |
| Mean    | The average value                       |
| Std     | The standard deviation                  |
| Min     | The minimum value                       |
| 25%     | Number of values below 25% percentile   |
| 50%     | Number of values below 50% percentile   |
| 75%     | Number of values below 75% percentile   |
| Max     | The maximum value                       |

The **columns** function gives a list of columns in the DataFrame.

`df.columns`

#### Example 3

Explore the DataFrames created (ldr_albums_df and ldr_tracks_df). 

    - View the first few rows
    - Get a list of columns
    - How many rows have missing data in each df?

In [4]:
# View the first few rows of ldr_albums_df


# Get a list of columns from ldr_albums_df


# How many rows in ldr_albums_df have missing values?


# View the first few rows of ldr_tracks_df


# Get a list of columsn from ldr_tracks_df


# How many rows in ldr_tracks_df have missing data?

## DataFrame Attributes
  
Properties of DataFrame objects can be accessed as as attribute. An example of this would be the columns attribute discussed previously. The table belows summarizes some common DataFrame attributes.

| Attribute    | Syntax           | Description                                                         |
| ------------ | ---------------- | ------------------------------------------------------------------- |
| index        | df.index         | returns row labels of a DataFrame object                            |
| columns      | df.columns       | returns a list of column names                                      |
| axes         | df.axes          | returns a list of column names and a list of row labels             |
| dtypes       | df.dtypes        | returns the data types of each column                               |
| size         | df.size          | returns the number of elements in a DataFrame object                |
| shape        | df.shape         | returns the number of rows and columns                              |
| empty        | df.empty         | returns True if the DataFrame is empty and False if it is not empty |
| transpose    | df.T             | swaps the rows and columns                                          |
| values       | df.values        | returns values of all data points                                   |

#### Example 4
  
What columns do the ldr_albums_df and ldr_tracks_df have in common? If two column names are the same and have the same data type you can assume that the data represented is the same for this example. 
  
What is the size and shape of ldr_tracks_df?

In [5]:
# Find the columns that ldr_albums_df and ldr_tracks_df have in common


# Find the shape of ldr_tracks_df


# Find the size of ldr_tracks_df

## Selecting from DataFrames
  
Recall that DataFrames are made up of multiple series acting as columns. Specific series in DataFrames are accessed through indexing. 
  
`df.['column']`
  
To select a specif value from a column use a second index.  
  
`df.['column'][index]`
  
#### Row Selections with iloc and loc

Pandas includes accessor operators that can be used for selecting data in a DataFrame. The `iloc` operator allows for selection based on position. The `loc` operator allows for label based selections. Both operators are row first and colum second. 

>`ldr_albums_df.iloc[0]` selects the data in the first row (position 0) of the DataFrame.
>  
>  
>`ldr_albums_df.loc[0]` select the data corresponding to row label 0. If we had changed the index for the row labels to be something more useful such as album title we could change this to `ldr_albums_df.loc['Album']`.

The iloc and loc operators are capable of selecting subsets of the data by using `df.iloc[x:y]` or `df.loc[x:y]`. If no index or lable is provided all rows up to or all rows after the : are returned. A key difference between iloc and loc is that loc indexes *inclusively* while iloc does not. 
  
> `ldr_albums_df.iloc[0:2]` returns the first 2 rows.
>  
> `ldr_albums_df.loc[0:2]` returnsthe frist 3 rows.
>  
> `ldr_albums_df.iloc[:]` and `ldr_albums_df.loc[:]` return all rows.
>  
> `ldr_albums_df.iloc[1:4]` returns rows 2 through 3.
>  
> `ldr_albums_df.loc[1:4]` returns rows 2 through 5.

Rows can also be selected based on a list. 
  
> `ldr_albums_df.iloc[[1,2,3,4]]` returns rows 2 through 5.
>  
> `ldr_albums_df.iloc[[1,2,3,4],1]` returns rows 2 through 5 for the second column only.

Negative numbers may be used in selects. When this happens counting starts from the end and goes towards the beginning.
  
> `ldr_albums_df.iloc[-5]` and `ldr_albums_df.iloc[-5:]` both return the 5th row from the end.

In [32]:
ldr_albums_df.iloc[-5:]

    Order                                 Album  Year
7       3                          Lana Del Ray  2010
8       8                         Lust for Life  2017
9       6                         Ultraviolence  2014
10      5                              Paradise  2012
11     10  Violet Bent Backwards Over the Grass  2020

  
    
# Answers to Examples

In [6]:
# Answer to Example 1  
ldr_albums = {
                'Order': [12,4,9,11,2,1,7,3,8,6,5,10],
                'Album': ['Blue Banisters', 'Born to Die', 'Norman Fucking Rockwell!', 
                          'Chemtrails Over the Country Club', 'Sirens', 'From the End', 
                          'Honeymoon', 'Lana Del Ray', 'Lust for Life',
                          'Ultraviolence', 'Paradise', 'Violet Bent Backwards Over the Grass'],
                'Year': [2021,2012,2019,2021,2006,2005,2015, 2010, 2017,2014, 2012, 2020]
}

ldr_albums_df = pd.DataFrame(ldr_albums)

print(ldr_albums_df)

    Order                                 Album  Year
0      12                        Blue Banisters  2021
1       4                           Born to Die  2012
2       9              Norman Fucking Rockwell!  2019
3      11      Chemtrails Over the Country Club  2021
4       2                                Sirens  2006
5       1                          From the End  2005
6       7                             Honeymoon  2015
7       3                          Lana Del Ray  2010
8       8                         Lust for Life  2017
9       6                         Ultraviolence  2014
10      5                              Paradise  2012
11     10  Violet Bent Backwards Over the Grass  2020

In [7]:
# Answer to Example 2

# Path to csv file
track_csv_path = 'C:/Users/viole/OneDrive/Documents/Music-Info/LDR/ldr_tracks.csv'

# Create DataFrame from csv file
ldr_tracks_df = pd.read_csv(track_csv_path)

print(ldr_tracks_df)

        Album  Track_Nbr                          Title Length  \
0      Sirens        NaN                       Drive By   2:51
1      Sirens        NaN                     Next to Me   2:41
2      Sirens        NaN                A Star for Nick   2:43
3      Sirens        NaN                       My Momma   3:25
4      Sirens        NaN                    Bad Disease   3:42
..        ...        ...                            ...    ...
87  Honeymoon        NaN                      Salvatore   4:41
88  Honeymoon        NaN               The Blackest Day   6:05
89  Honeymoon        NaN                             24   4:55
90  Honeymoon        NaN                      Swan Song   5:23
91  Honeymoon        NaN  Don't Let Me Be Misunderstood   3:01

                                     Producer
0                                         NaN
1                                         NaN
2                                         NaN
3                                         NaN
4                                         NaN
..                                        ...
87  Lana Del Rey, Rick Nowels, Kieron Menzies
88  Lana Del Rey, Rick Nowels, Kieron Menzies
89  Lana Del Rey, Rick Nowels, Kieron Menzies
90  Lana Del Rey, Rick Nowels, Kieron Menzies
91  Lana Del Rey, Rick Nowels, Kieron Menzies

[92 rows x 5 columns]

In [8]:
# Answer to Example 3

# First few rows of ldr_albums_df
print(ldr_albums_df.head())

# List of columsn in ldr_albums_df
print(ldr_albums_df.columns)

# Describe ldr_albums_df
print(ldr_albums_df.describe())

   Order                             Album  Year
0     12                    Blue Banisters  2021
1      4                       Born to Die  2012
2      9          Norman Fucking Rockwell!  2019
3     11  Chemtrails Over the Country Club  2021
4      2                            Sirens  2006
Index(['Order', 'Album', 'Year'], dtype='object')
           Order         Year
count  12.000000    12.000000
mean    6.500000  2014.333333
std     3.605551     5.532274
min     1.000000  2005.000000
25%     3.750000  2011.500000
50%     6.500000  2014.500000
75%     9.250000  2019.250000
max    12.000000  2021.000000

In [9]:
# Answer to Example 4

# Find the columns that ldr_albums_df and ldr_tracks_df have in common
print(ldr_albums_df.dtypes)
print( )
print(ldr_tracks_df.dtypes)
print( )

# Find the shape of ldr_tracks_df
print(ldr_tracks_df.shape)
print( )

# Find the size of ldr_tracks_df
print(ldr_tracks_df.size)

Order     int64
Album    object
Year      int64
dtype: object

Album         object
Track_Nbr    float64
Title         object
Length        object
Producer      object
dtype: object

(92, 5)

460